.hidden{
	display: none;
}

.error-message {
	color: red;
}

.input-error {
	border: 1px solid red;
}
@font-face {
    src: url('../../assets/fonts/PinyonScript-Regular.ttf');
     font-family: "pinyon";
     font-style: normal;
}